@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans text-base leading-normal text-gray-900 bg-gray-50;
  }

  /* Dark mode styles */
  html.dark,
  html.dark body {
    @apply text-gray-100 bg-gray-900;
  }

  html.dark {
    color-scheme: dark;
  }
}
